{% extends "admin/change_list.html" %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom_admin.css' %}">
{% endblock %}

{% block content %}
<div class="content-wrapper">
    {{ block.super }}
</div>
{% endblock %}

{% block object-tools-items %}
{{ block.super }}
<li>
    <a href="{% url 'import_users' %}" class="addlink" style="background: #17a2b8;">
        <i class="fa fa-upload"></i> Импорт пользователей
    </a>
</li>
{% endblock %}