{% extends 'base.html' %}
{% load static %}

{% block title %}Удаление материала{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0"><i class="fa fa-trash"></i> Удаление материала</h4>
                </div>
                <div class="card-body text-center">
                    <i class="fa fa-exclamation-triangle fa-4x text-warning mb-3"></i>
                    <h5>Вы уверены, что хотите удалить материал?</h5>
                    <p class="lead">{{ material.title }}</p>
                    <p class="text-muted">{{ material.description|truncatechars:100 }}</p>

                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-lg px-4">
                            <i class="fa fa-trash"></i> Да, удалить
                        </button>
                        <a href="{% url 'teacher_dashboard' %}#materials" class="btn btn-secondary btn-lg px-4 ml-2">
                            <i class="fa fa-times"></i> Отмена
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}