<!-- templates/school/login.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Вход в личный кабинет{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Вход в личный кабинет</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block">Войти</button>
                    </form>
                    <hr>
                    <p class="text-center">
                        Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}