{% extends 'school/articles/base_article.html' %}
{% load static %}

{% block title %}Местоимения в английском языке - Плюс Прогресс{% endblock %}

{% block article_content %}
<h1>Местоимения в английском. Pronouns.</h1>
<hr>

<h2>Личные местоимения</h2>
<p><strong>Именительный падеж (Кто? Что?)</strong></p>
<ul>
    <li>I – я
        <audio src="{% static 'sounds/I.mp3' %}" controls></audio>
    </li>
    <li>you – ты, вы
        <audio src="{% static 'sounds/you.mp3' %}" controls></audio>
    </li>
    <li>he – он
        <audio src="{% static 'sounds/he.mp3' %}" controls></audio>
    </li>
    <li>she – она
        <audio src="{% static 'sounds/she.mp3' %}" controls></audio>
    </li>
    <li>it – оно
        <audio src="{% static 'sounds/it.mp3' %}" controls></audio>
    </li>
    <li>we – мы
        <audio src="{% static 'sounds/we.mp3' %}" controls></audio>
    </li>
    <li>they – они
        <audio src="{% static 'sounds/they.mp3' %}" controls></audio>
    </li>
</ul>

<h2>Объектный падеж</h2>
<p><strong>(Кого, чего? Кому, чему? Кем, чем? О ком, о чем?)</strong></p>
<p>Обратите внимание, объектный падеж местоимений в английском языке заменяет целых пять падежей русского (родительный, дательный, винительный, творительный, предложный).</p>
<ul>
    <li>me – меня, мне, мной, обо мне
        <audio src="{% static 'sounds/me.mp3' %}" controls></audio>
    </li>
    <li>you – тебя, тебе, тобой, о тебе
        <audio src="{% static 'sounds/you.mp3' %}" controls></audio>
    </li>
    <li>him – его, ему, им, о нем
        <audio src="{% static 'sounds/him.mp3' %}" controls></audio>
    </li>
    <li>her – ее, ей, ею, о ней
        <audio src="{% static 'sounds/her.mp3' %}" controls></audio>
    </li>
    <li>it – его, ему, ее, ей, о нем, о ней (неодушевленные)
        <audio src="{% static 'sounds/it.mp3' %}" controls></audio>
    </li>
    <li>us – нас, нам, нами, о нас
        <audio src="{% static 'sounds/us.mp3' %}" controls></audio>
    </li>
    <li>them – их, им, ими, о них
        <audio src="{% static 'sounds/them.mp3' %}" controls></audio>
    </li>
</ul>

<h2>Притяжательные местоимения (Чей?)</h2>
<p><strong>Притяжательные местоимения-прилагательные (употребляются в сочетании с существительными).</strong></p>
<ul>
    <li>my – мой
        <audio src="{% static 'sounds/my.mp3' %}" controls></audio>
    </li>
    <li>your – твой, ваш
        <audio src="{% static 'sounds/your.mp3' %}" controls></audio>
    </li>
    <li>his – его
        <audio src="{% static 'sounds/his.mp3' %}" controls></audio>
    </li>
    <li>her – ее
        <audio src="{% static 'sounds/her.mp3' %}" controls></audio>
    </li>
    <li>its – его, ее
        <audio src="{% static 'sounds/its.mp3' %}" controls></audio>
    </li>
    <li>our – наш
        <audio src="{% static 'sounds/our.mp3' %}" controls></audio>
    </li>
    <li>their – их
        <audio src="{% static 'sounds/their.mp3' %}" controls></audio>
    </li>
</ul>

<p><strong>Притяжательные местоимения-существительные (употребляются без последующего существительного).</strong></p>
<ul>
    <li>mine – мой
        <audio src="{% static 'sounds/mine.mp3' %}" controls></audio>
    </li>
    <li>yours – твой
        <audio src="{% static 'sounds/yours.mp3' %}" controls></audio>
    </li>
    <li>his – его
        <audio src="{% static 'sounds/his.mp3' %}" controls></audio>
    </li>
    <li>hers – ее
        <audio src="{% static 'sounds/hers.mp3' %}" controls></audio>
    </li>
    <li>its – его, ее
        <audio src="{% static 'sounds/its.mp3' %}" controls></audio>
    </li>
    <li>ours – наш
        <audio src="{% static 'sounds/ours.mp3' %}" controls></audio>
    </li>
    <li>theirs – их
        <audio src="{% static 'sounds/theirs.mp3' %}" controls></audio>
    </li>
</ul>

<h2>Вопросительные местоимения</h2>
<ul>
    <li>who – кто
        <audio src="{% static 'sounds/who.mp3' %}" controls></audio>
    </li>
    <li>what – что, какой
        <audio src="{% static 'sounds/what.mp3' %}" controls></audio>
    </li>
    <li>when – когда
        <audio src="{% static 'sounds/when.mp3' %}" controls></audio>
    </li>
    <li>where – где
        <audio src="{% static 'sounds/where.mp3' %}" controls></audio>
    </li>
    <li>why – почему
        <audio src="{% static 'sounds/why.mp3' %}" controls></audio>
    </li>
    <li>how – как
        <audio src="{% static 'sounds/how.mp3' %}" controls></audio>
    </li>
    <li>which – который, какой
        <audio src="{% static 'sounds/which.mp3' %}" controls></audio>
    </li>
    <li>whose – чей, чьё
        <audio src="{% static 'sounds/whose.mp3' %}" controls></audio>
    </li>
    <li>whom – кому
        <audio src="{% static 'sounds/whom.mp3' %}" controls></audio>
    </li>
</ul>

<h2>Указательные местоимения</h2>
<ul>
    <li>this – этот (указывает на объекты в ед. числе, находящиеся близко)
        <audio src="{% static 'sounds/this.mp3' %}" controls></audio>
    </li>
    <li>that – тот (указывает на объекты в ед. числе, находящиеся далеко)
        <audio src="{% static 'sounds/that.mp3' %}" controls></audio>
    </li>
    <li>these – эти (указывает на объекты во мн. числе, находящиеся близко)
        <audio src="{% static 'sounds/these.mp3' %}" controls></audio>
    </li>
    <li>those – те (указывает на объекты во мн. числе, находящиеся далеко)
        <audio src="{% static 'sounds/those.mp3' %}" controls></audio>
    </li>
</ul>
{% endblock %}

{% block extra_css %}
<style>
    audio {
        display: block;
        margin: 5px 0 15px 0;
        width: 250px;
    }
</style>
{% endblock %}