{% extends 'school/articles/base_article.html' %}
{% load static %}

{% block title %}Глагол to be в английском языке - Плюс Прогресс{% endblock %}

{% block article_content %}
<h1>Глагол to be</h1>

<p>
    Очень важный и часто используемый глагол в английском языке. Он лежит в основе построения огромного
    количества грамматических конструкций. Без умения правильно использовать to be невозможно построить
    даже самые простые предложения. Поэтому разобраться с правилами его употребления крайне важно.
</p>

<hr>

<p>
    Этот глагол может употребляться как смысловой (выражает лексическое значение) и как вспомогательный
    (выражает грамматическое значение, не имея лексического). Переводится «являться», «находиться», «быть».
    Часто to be на русский язык не переводится вообще. Мы спокойно можем сказать по-русски «Бабушка в саду»
    без «находится». Но в английском языке подобное предложение без «находится» недопустимо. Кстати, пропуск
    глагола to be является одной из самых частых ошибок на начальном этапе изучения английского в нашей стране.
</p>

<p>
    И здесь, как ни странно, русскоязычному студенту может помочь обращение к древнерусскому языку.
    Давайте вспомним знаменитую фразу из известного всем фильма «Иван Васильевич меняет профессию»:
    «Аз есмь царь». Или из библии «Я есмь Альфа и Омега, начало и конец, говорит Господь».
    Ну и из Достоевского «Я — есмь часть той части целого, которая хочет делать зло, а творит добро…».
</p>

<p>
    Дело в том, что "Есмь" - это устаревшая форма спряжения глагола "быть" в первом лице единственного числа
    настоящего времени, то есть не что иное, как современное «есть», которое сейчас не используется в подобных
    предложениях. Сегодня мы говорим просто «Я царь», а не «Я есть царь». То есть предложение «I am Ben» на
    современный русский мы переведем «Я Бен», а на древнерусский «Я есть Бен».
</p>

<p>
    Итак, желая составить по-английски предложения с наименованием, описанием чего-то или кого-то,
    характеристикой качеств, указанием местонахождения лица или предмета помните про древнерусский глагол
    «есмь» и старайтесь не допускать такой грубой грамматической ошибки как пропуск глагола to be в английской речи.
</p>

<h5>А теперь рассмотрим формы глагола to be в разных временах:</h5>
<h5>В настоящем времени to be имеет 3 формы:</h5>

<table class="table table-secondary">
    <tbody>
        <tr>
            <td><strong>am</strong> только после I</td>
            <td>I am a teacher. Я учитель.</td>
        </tr>
        <tr>
            <td><strong>is</strong> в единственном числе</td>
            <td>He is a teacher. Он учитель.</td>
        </tr>
        <tr>
            <td><strong>are</strong> во множественном числе</td>
            <td>We are teachers. Мы учителя.</td>
        </tr>
    </tbody>
</table>

<h5>В прошедшем времени to be имеет 2 формы:</h5>
<p><strong>was</strong> в един. числе</p>
<p><i>I/she/he/Mary was at home.</i> — Я/она/он/Мэри был(а) дома.</p>
<p><strong>were</strong> во множ. числе</p>
<p><i>We/boys/you were at home.</i> — Мы/мальчики/ты(вы) был(и) дома.</p>

<p>В будущем времени для всех лиц, независимо от числа используется <strong>will</strong>.</p>
<p><i>We/I/She will be at home.</i> — Мы/я/она будет (будем, буду) дома.</p>

<p>Для лучшего понимания употребления глагола to be в разных временах предлагаем вам общую таблицу:</p>

<table class="table table-secondary">
    <thead>
        <tr>
            <th scope="col">время</th>
            <th scope="col">утвердительные</th>
            <th scope="col">отрицательные</th>
            <th scope="col">вопросительные</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Наст. время</td>
            <td>
                I am at home.<br>
                She/Mary/sister is at home.<br>
                We/you/boys are at home.
            </td>
            <td>
                I am not at home.<br>
                She/Mary/sister is not at home.<br>
                We/boys/you are not at home.
            </td>
            <td>
                Am I at home?<br>
                Is she/Mary/sister at home?<br>
                Are we/you at home ?
            </td>
        </tr>
        <tr>
            <td>Прош. время</td>
            <td>
                I/she/Mary was at home.<br>
                We/you/boys were at home.
            </td>
            <td>
                I/she/Mary was not at home.<br>
                We/you/boys were not at home.
            </td>
            <td>
                Was she/I/Mary at home?<br>
                Were you/we/boys at home?
            </td>
        </tr>
        <tr>
            <td>Буд. время</td>
            <td>I/she/we/you will be at home.</td>
            <td>I/she/we/you will not be at home.</td>
            <td>Will I/she/we/you be at home?</td>
        </tr>
    </tbody>
</table>
{% endblock %}