{% extends 'school/articles/base_article.html' %}
{% load static %}

{% block title %}Количественные местоимения в английском языке - Плюс Прогресс{% endblock %}

{% block article_content %}
<h1>Количественные местоимения</h1>
<h5>much, many, a lot of, little, a little, few, a few, some, any.</h5>

<p>
    Особое внимание придется уделить количественным местоимениям
    (quantifiers), так как имея одно и то же значение, употребляются они
    по-разному. А зависит все от исчислимости или неисчислимости
    существительного и от типа предложения, в котором они используются.
</p>

<p>
    Итак, для обозначения большого количества англичане используют <strong>much, many, a lot of</strong>.
    На русский язык все три слова переводятся как «много». Но <strong>much</strong> используется только
    с неисчисляемыми существительными <strong>(much time)</strong>, а many только с исчисляемыми
    существительными <strong>(many books)</strong>. А вот <strong>a lot of</strong> можно использовать и с
    исчисляемыми <strong>(a lot of books)</strong>, и с неисчисляемыми существительными
    <strong>(a lot of time)</strong>. Так что, если запутались между <strong>much и many</strong>, смело
    ставьте <strong>a lot of</strong>, точно не ошибетесь.
</p>

<p>
    <strong>Much</strong> используется в вопросительных и отрицательных предложениях.
</p>
<ul>
    <li><i>I haven’t got much time.</i></li>
    <li><i>Have you got much water?</i></li>
</ul>
<p>Но сочетания <strong>too much, so much, as much</strong> можно встретить и в утвердительных.</p>
<ul>
    <li><i>We spent too much money.</i></li>
</ul>

<p>
    <strong>Many</strong> также используется в вопросительных и отрицательных предложениях.
</p>
<ul>
    <li><i>There aren’t many cars here.</i></li>
    <li><i>Have you got many apples?</i></li>
</ul>

<p>
    Однако в формальной речи можно иногда встретить <strong>many</strong> и в утвердительных предложениях.
    А вот <strong>a lot of</strong> можно снова смело использовать и в утвердительных, и в отрицательных,
    и в вопросительных предложениях.
</p>
<ul>
    <li><i>I have got a lot of lemons.</i></li>
    <li><i>I haven’t got a lot of lemons.</i></li>
    <li><i>Have you got a lot of lemons?</i></li>
</ul>

<p>
    Для обозначения маленького количества используются <strong>little, a little и few, a few</strong>.
    <strong>Few, a few</strong> употребляются только с исчисляемыми существительными.
    С неисчисляемыми используем <strong>little, a little</strong>.
</p>

<p>
    Обратим внимание на артикль <strong>«а»</strong>, от него зависят очень важные нюансы в значении.
    <strong>Little, few</strong> переводится «мало», их нужно использовать, когда вам недостаточно этого
    количества, вы испытываете нехватку. <strong>А little, а few</strong> переводится «немного», «несколько».
    Употребляем, когда вам достаточно того количества, которое есть, вам этого хватает.
</p>

<p>Давайте сравним:</p>
<ul>
    <li><i>He has little information about it.</i> — У него мало информации об этом.</li>
    <li><i>I know few poems.</i> — Я знаю мало стихов.</li>
</ul>

<p>Но стоит нам в этих же предложениях использовать артикль <strong>«а»</strong>, как смысл полностью поменяется:</p>
<ul>
    <li><i>He has a little information about it.</i> — У него есть немного информации об этом.</li>
    <li><i>I know a few poems.</i> — Я знаю несколько стихов.</li>
</ul>

<p>
    Как видим, первые предложения несут негативный оттенок, а последние — положительный.
</p>

<p>
    Для обозначения неопределенного количества в английском языке есть еще местоимения
    <strong>some</strong> и <strong>any</strong>. С ними немного проще, использовать их можно как с исчисляемыми,
    так и неисчисляемыми. Но <strong>some</strong> используется в утвердительных предложениях,
    а <strong>any</strong> в отрицательных и вопросительных.
</p>

<p>
    <strong>Some</strong> можно перевести как «несколько», «немного», «некоторое количество».
</p>
<ul>
    <li><i>I’ve got some books.</i></li>
    <li><i>I’ve got some free time.</i></li>
</ul>

<p>
    <strong>Any</strong> переводится как «какой-нибудь», «никакой», «какой-либо», «немного».
</p>
<ul>
    <li><i>I haven’t got any information.</i></li>
    <li><i>Are there any books?</i></li>
</ul>

<p>
    Но здесь нужно обязательно помнить об исключении из правила, которое будет встречаться довольно часто.
    <strong>Some</strong> употребляется в вопросительных предложениях, если это просьба или предложение чего-то.
</p>
<ul>
    <li><i>Would you like some coffee?</i></li>
</ul>
{% endblock %}