<!-- templates/includes/footer.html -->
{% load static %}

<!--begin footer -->
<div class="footer">
    <!--begin container -->
    <div class="container">
        <!--begin row -->
        <div class="row">
            <!--begin col-md-12 -->
            <div class="col-md-12">
                <p>© 2025 <span class="template-name">Плюс Прогресс</span>. Разработка и продвижение сайтов 
                <a href="https://webseed.ru" target="_blank" title="Создание сайтов">webseed.ru</a>
                </p>
            </div>
            <!--end col-md-12 -->
        </div>
        <!--end row -->
    </div>
    <!--end container -->
</div>
<!--end footer -->