<!-- templates/includes/header.html -->
{% load static %}

<!--begin header -->
<header class="header">
    <!--begin navbar-fixed-top -->
    <nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top">
        <!--begin container -->
        <div class="container">
            <!--begin logo и контакты в одну строку -->
            <div class="d-flex align-items-center flex-wrap">
                <img class="navbar-brand" src="{% static 'images/logo.jpg' %}" alt="Плюс Прогресс"
                    style="max-width: 80px;">

                <div class="mobile-icons">
                    <a href="https://www.instagram.com/linguaglobal.ru/" target="_blank" class="mx-1">
                        <i class="fa fa-instagram" style="font-size: 30px; color: #FD1D1D;"></i>
                    </a>
                    <a href="https://wa.me/79872736974?text=Здравствуйте, пишу Вам с сайта." target="_blank"
                        class="mx-1">
                        <i class="fa fa-whatsapp" style="color: #25D366; font-size: 30px;"></i>
                    </a>
                    <a href="https://t.me/LinguaGlobal" target="_blank" class="mx-1">
                        <i class="fa fa-telegram" style="color: #0088cc; font-size: 30px;"></i>
                    </a>
                </div>

                <a class="header-number mx-3" href="tel:79272418211">+7 (927) 241-82-11</a>

                <span class="text-muted" style="font-size: 14px;">Онлайн английский, русский, математика,
                    биология</span>
            </div>
            <!--end logo и контакты -->

            <!--begin navbar-toggler (гамбургер) -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <!--end navbar-toggler -->

            <!--begin navbar-collapse (меню) -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about">О нас</a></li>
                    <li class="nav-item"><a class="nav-link" href="#testimonials">Отзывы</a></li>
                    <li class="nav-item"><a class="nav-link" href="#pricing">Цены</a></li>

                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.first_name }} {{ user.last_name }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'dashboard' %}">Личный кабинет</a>
                            <a class="dropdown-item" href="{% url 'profile' %}">Профиль</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Войти</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
            <!--end navbar-collapse -->
        </div>
        <!--end container -->
    </nav>
    <!--end navbar-fixed-top -->
</header>
<!--end header -->